/*Some necessary adjustments*/
h1, body, html, main {
  margin: 0;
}

html, body {
  font-family: 'Open Sans', sans-serif;
  font-size: 28px;
  margin: 0;
}

h1 {
  padding-bottom: 50px;
}

.banner {
  text-align: center;
  width: 100vmax;
  height: 800px;
  background-image: url("../images/soup.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.directions-list {
  counter-reset: list;
}
.directions-list > li {
  list-style: none;
}
.directions-list li:before {
  content: counter(list, numeric) ") ";
  counter-increment: list;
}

.ingredients-list {
  list-style-type: none;
}
.ingredients-list li:before {
  content: "- ";
}

.recipe-description, .recipe-ingredients, .recipe-directions {
  width: 80%;
  margin: 0 auto;
  padding: 50px 0;
  background-color: white;
}
.recipe-description, .recipe-ingredients {
  border-bottom: 2px solid lightgray;
}
.recipe-name {
  color: white;
  font-size: 3em;
  font-weight: 300;
  line-height: 800px;
  margin: 0;
  
}
.recipe-img, .cooking-img {
  text-align: center;
  padding-top: 40px;
}
