body {
    font-family: sans-serif;
}
header {
 background-image: url("../images/apple-pie.jpg");
 background-size: cover;
 height: 400px;
}
h1 {
 text-align: center;
 color: white;
 font-size: 40px;
 padding-top: 140px;
}